# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/


# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

#data
data/*
!data/verl/
!data/verl/*
data/verl/livecodebench_test.parquet
data/verl/detail_json/
.hf_cache
.claude
data/verl/codecontests_train.parquet
data/verl/codecontests_train.parquet.zip

# SFT outputs — only keep train.log
outputs/verl_sft/**
!outputs/verl_sft/**/
!outputs/verl_sft/**/train.log
